<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add a new listing</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css"/>
    </head>
  <body class="addListing">
    <div id="header" class="container">
      <h1>Add a new listing</h1>
    </div>
    <br>
    <form class="" action="/save_listing" method="post">
      <div id="add-new-listing" class="container">
        <h2>About property</h2>
        <label for="property_name_input">Property name: </label><input type="text" name="property_name_input" value="" placeholder="e.g. house in Kent.."></input><br>
        <label for="price_input">Price per night: </label><input type="text" name="price_input" value="" placeholder="£"></input><br>
        <label for="description_input">Description: </label><textarea type="text" name="description_input" value="" rows="5" cols="40" placeholder="e.g. a beautiful 4 bedroom flat in the contryside.."></textarea>
    <br>
      <label for="start">Start date:</label>
      <input type="date" id="date-start" name="range-start"
      <% require 'date'  %>
             value= <%= Date.today.to_s %>
             min= <%= Date.today.to_s %> max= <%= (Date.today + 365).to_s %>
      </input>

      <label for="end">End date:</label>
      <input type="date" id="date-end" name="range-end"
             value= <%= Date.today.to_s %>
             min= <%= Date.today.to_s %> max= <%= (Date.today + 365).to_s %>
      </input>
      <br>
      <br>

    <input type="submit" name="submit-listing" value="Submit" class="btn btn-primary"></input>
    <br>
    </form>

    </div>


    <br>
    <br>
    <br>

  </body>
</html>
