<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <title></title>
</head>

<body class="home">

  <div id="header" class="container">
    <h1>Makers Bnb</h1>
    <h2>Listings post here...</h2>
  </div>

  <% if @authenticate.nil? %>
  <div id="signup" class="container">
    <form action="/signup" method="get">
      <input type="submit" class="btn btn-primary" name="signup" value="Sign up">
    </form>
  </div>

  <div id="login" class="container">
    <form action="/login" method="get">
      <input type="submit" class="btn btn-primary" name="login" value="Log in">
    </form>
  </div>
  <% end %>

  <% unless @authenticate.nil? %>
  <div id="logout" class="container">
    <form action="/add_listing" method="get">
      <input type="submit" class="btn btn-primary" name="logout" value="Log Out">
    </form>
  </div>

  <div id="add-new-listing" class="container">
    <form action="/add_listing" method="get">
      <input type="submit" class="btn btn-primary" name="addNewListing" value="add new listing">
    </form>
  </div>
  <% end %>
  <br>
  <br>
  <br>
<div class="container">
  <br>
  <form action="/filter_listings" method="post">
  <label for="start">Start date:</label>
  <input type="date" id="filter-start" name="filter_start"
  <% require 'date'  %>
         value= <%= Date.today %>
         min= <%= Date.today %> max= <%= (Date.today + 365) %>
  </input>

  <label for="end">End date:</label>
  <input type="date" id="filter-end" name="filter_end"
         value= <%= Date.today %>
         min= <%= Date.today %> max= <%= (Date.today + 365) %>
  </input>
  <input type="submit" class="btn btn-primary" name="filter_listings" value="Filter listings">
  </input>
  <br>
  </form>
  </div>


  <br>
  <br>
  <br>

  <div id="list-listings" class="container">
    <h2>Listings...</h2>
    <br>
    <br>
    <div id="listing" class="container">
      <h2>Some listings...</h2><br> <% Listing.all.each do |post| %>
        <div id="list" class="container">
          <div id="post_one" class="post">
          <p>
          <center><b>Name: <%= post.property_name %></b><center>
          Price: £<%= post.price %>
          <br>
          Description: <%= post.description %>
          <br>
          Email: <%= post.email %>
          <br>
          Phone Number: <%= post.phone_num %>
          <br>
          Available from: <%= post.start_date %> - <%= post.end_date %>
          </p>
          <hr class="listing-separator">
          </div>
        </div>
        <% end %>
    </div>
    <br>
  </div>
</body>
