<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../Public/style.css">
  <title></title>
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    body.home {
      background-image: url("green_bathroom.jpg");
    }

    body.addListing {
      background-image: url("living_room.jpg");
    }

    div[class = "container"], [id = "header"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
    }

    div[class = "container"], [id = "add-new-listing"] {
      background-color: #d1f5cf;
    }

    div [id="list"] {
      background-color: white;
      justify-content: center;
      text-align: left;
      display: flex;
      flex-direction: row;
    }

    #header, #add-new-listing {
      width: 60%;
      background-color: #eee;
    }

    #post {
      align-items: center;
      justify-content: center;
    }

  </style>
</head>
<body class="home">
  <div id="header" class="container">
    <h1>Makers Bnb!</h1>
    <h2>Listings post here...</h2>
  </div>
  <div id="add-new-listing" class="container">
    <form class="" action="/add_listing" method="get">
      <input type="submit" class="btn btn-primary" name="addNewListing" value="add new listing">
    </form>
  </div>
  <br>
  <br>
  <br>
  <div id="list-listings" class="container">
    <h2>Listings...</h2>
    <br>
    <br>
    <div id="listing" class="container">
      <h2>Some listings...</h2><br> <% Listing.all.each do |post| %>
        <div id="list" class="container">
          <div id="post_one" class="post">
          Name: <%= post.property_name %><br><br>
          Price: £<%= post.price %><br><br>
          Description: <%= post.description %><br><br>
          </div>
          <div id="post_two" class="post">
          Owner Name: <%= post.owner_name %><br><br>
          Email: <%= post.email %><br><br>
          Phone Number: <%= post.phone_num %><br><br>
          </div>
        </div>
        <% end %>
    </div>
    <br>
  </div>
</body>
